<html>
  <head>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
 <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

 <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Wufph</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
	<li class="active"><a href="#!">Devices</a></li>
       </ul>
    </div>
  </nav>
	<div class="collection">
    {% for host in hostList %}
     {% if host != clientIp %}
	    		<a href="#!" class="collection-item">{{ host.ip }}<span class="badge">1</span></a>
      {% else %}
	    		<a href="#!" class="collection-item">{{ host.ip }}<span class="new badge green" data-badge-caption="Me"></span></a>
      {% endif %}

    
    {% endfor %}
	</div>
  </body>
</html>
